
@font-face {
    font-family: 'P';
    src: url('P.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'E';
    src: url('ExposureTrialVAR.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body{
    font-family: 'E', serif;
    font-variation-settings: "EXPO" 20;
}   
