@font-face {
    font-family: 'B';
    src: url('B-light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'H';
    src: url('H-reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body{
    font-family: 'B', sans-serif;
}   
